
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700&display=swap');

* {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgba(11,5,119,1);
}

main {
  flex: 1 0 auto;
}

/*----------------------------------------------------*/
/* WELCOME ANIMATION


body.welcome {
  background: #071384;
  -webkit-font-smoothing: antialiased;
}

.welcome .splash {
  height: 0px;
  padding: 0px;
  border: 130em solid #eff7f7;
  position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  box-sizing: initial;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

.welcome #welcome {
  background: #071384;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards, hide 2s 2.9s ease forwards;
}

 moveIn 
.welcome header,
.welcome a.btn {
  opacity: 0;
  animation: moveIn 2s 3.1s ease forwards;
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: #071384;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #071384;
  }
}

@keyframes materia {
  0% {
    background: white;
  }
  50% {
    background: white;
    top: 26px;
  }
  100% {
    background: #071384;
    width: 100%;
    height: 64px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
------------------------------------------------------ */

/*----------------------------------------------------*/
/* HEADER
------------------------------------------------------ */
header{
  z-index: 100;
}
.brand-logo{
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  z-index: 100;
}
i.icon-black {
  color: black;
  z-index: 100;
}


/*** RESPONSIVE HEADER ***/
/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/
/*----------------------------------------------------*/
/* FOOTER
------------------------------------------------------ */
.title-footer{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  position: absolute;
  margin-top: -2.5%;
}

.link-footer{
  padding-bottom: 10px;
}

.footer-border{
  display: flex;
  background: rgb(11,5,119);
  background: linear-gradient(90deg, rgba(11,5,119,1) 0%, rgba(18,18,175,1) 44%, rgba(0,212,255,1) 100%);
  margin-bottom:20px;
  width: 250px;
  height: 7px;
  border:none;
}

.footer-contact{
  font-size:13px;
  color:gainsboro;
  margin-bottom:15px;
}

#footer-social{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.icon-social:hover{
  transform : scale(1.2);
}

/*** RESPONSIVE FOOTER ***/
/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/
/*----------------------------------------------------*/
/* INDEX PAGE
------------------------------------------------------ */
.reveal-text{
  z-index: 1000;
  position: absolute;
  margin-left: 50%;
  margin-top: 20%;
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.test{
  position: absolute;
  z-index: 1000;
}
/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/
/*** WAVE SECTION ***/

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: linear-gradient(90deg, rgba(11,5,119,1) 0%, rgba(18,18,175,1) 44%, rgba(0,212,255,1) 100%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

/*** ABOUT SECTION ***/
.about_us{
  display: flex;
  width: 100%;
  background-color:white;
  justify-content: space-around;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  border:none;
}

.about_border{
  display: flex;
  background: rgb(11,5,119);
  background: linear-gradient(90deg, rgba(11,5,119,1) 0%, rgba(18,18,175,1) 44%, rgba(0,212,255,1) 100%);
  width: 250px;
  height: 7px;
  border:none;
}

.about_text{
  display: flex;
  flex-direction: column;
  margin-top: 2.5%;
}

.about_description{
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  width: 40%;
}

.about_img{
  margin-top: 55%;
}

.about_img_content{
  border-radius:30px;
}


/*** RESPONSIVE ABOUT SECTION ***/
@media (max-width: 1180px) {
  .about_us{
    padding-top: 10%;
  }
}

@media (max-width: 980px) {
  .about_us{
    padding-top: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about_description{
    width: 80%;
  }

  .about_img{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;

  }
}

@media (max-width: 780px) {
  .about_us{
    padding-top: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .about_us{
    padding-top: 75%;
  }
}


/*** - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ***/
/*** SERVICES SECTION ***/
.services {
  background: black;
  color:white;
  padding: 1rem 0;
  padding: 1rem 0;
  background: rgb(11,5,119);
  background: linear-gradient(90deg, rgba(11,5,119,1) 0%, rgba(20,20,173,1) 30%, rgba(0,212,255,1) 100%);
}

.section_title{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

.title-section-border{
  background: rgb(11,5,119);
  background: linear-gradient(90deg, rgba(11,5,119,1) 0%, rgba(20,20,173,1) 30%, rgba(0,212,255,1) 100%);
}

.service-border{
  display: flex;
  background: rgb(11,5,119);
  background: linear-gradient(90deg, rgba(11,5,119,1) 0%, rgba(18,18,175,1) 44%, rgba(0,212,255,1) 100%);
  width: 250px;
  height: 7px;
  border:none;
}

.services-slogan{
  font-size: 30px;
}

.services-description{
  margin-top: 2.5%;
}

.highlight {
  color: #05F92A;
}

























